@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --red: #e13220;
    --yellow: #ffd981;
    --transition: 300ms;
    --paddingY: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #eee;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 30px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        width: 560px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}

.app__exercise {
    margin-top: 70px;
}
